* {
    box-sizing: border-box;
}


#myLoginVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}

#loginForm {
    border: 0px dashed red;
    margin-top: 15%;
}

.card {
    background-color: rgba(255,255,255, 0.7) !important;
}